PORT=4000
TOKEN_SECRET=foo

DATABASE_URL=postgres://localhost:5432/mittens
REDIS_URL=redis://127.0.0.1:6379/1

FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
